.card {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 0.7rem; /* Readable font size */
    height: 300px;
    width: 150px; /* Reduced width for a compact look */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 0 10px; /* Adds space between cards */
  }
  
  .card img {
    width: 100%;
    height: 70%; /* Adjusted for better proportion */
    border-radius: 4px;
    margin-bottom: 8px; /* Space between image and title */
    object-fit: cover;

  }
  
  .card-title {
    font-size: 1rem; /* Maintain consistent font size */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  
  
  .card-subtitle {
    font-size: 0.75rem; /* Smaller subtitle size */
    color: #ffffff;
  }
  