.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black; /* Set background color to black */
    justify-content: center; 
  }
  
  .text-container {
    flex: 1;
    color: white; /* Set font color to white */
  }
  
  .hero h1 {
    margin: 10px 0; /* Add spacing between the lines */
  }
  
  .hero-image {
    flex: 0 0 auto;
    max-width: 50%;
    height: auto;
  }
  