.hero {
    background-color: black; /* Black background */
    height: 30vh; /* Adjusted height to be 70% of the viewport */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    overflow: hidden; /* Prevent any overflow */
    color: white;
  }
  
  .card img {
    max-height: 60%; /* Adjusted for better proportion */
    border-radius: 4px;
    margin-bottom: 8px; /* Space between image and title */
    object-fit: cover;
    width: 100%; /* Ensures the image fits the card width */
    filter: saturate(1.5) contrast(1.2); /* Enhances colors and contrast */
  }
  